   /* header & footer css */
   /*
==========================================
   01. header CSS
==========================================
*/
   

   .header-area .navbar {
       padding: 15px 0px;
   }
   
   .header-area .navbar-brand>img {
       max-height: 63px;
       height: 100%;
   }
   
   .header-area .nav-link {
       padding: 0px
   }
   
   .header-area .navbar .navbar-nav {
       align-items: center;
   }
   
   .header-area .navbar .navbar-nav .nav-item {
       padding-right: 35px;
   }
   .header-area .navbar .navbar-nav .nav-item:last-child {
       padding-right: 0px;
   }
   
   .header-area .navbar-nav .nav-link {
       font-weight: 500;
       font-size: 18px;
       color: var(--text-color);
       padding: 0px;
   }
   
   .header-area .fa-cart-arrow-down {
       font-size: 25px;
       color: var(--text-color);
   }
   
