@media (min-width: 1199px) {
    
}

@media (min-width: 992px) and (max-width: 1367px) {

 
    
}


/* Medium Layout: 1280px. */

@media (min-width: 992px) and (max-width: 1200px) {}


/* Tablet Layout: 768px. */

@media (min-width: 768px) and (max-width: 991px) {
   
}

@media (min-width: 320px) and (max-width: 991px) {
    /* font-size */
    .t-30 {
        font-size: 25px;
    }
    .t-20 {
        font-size: 17px;
    }
    .t-16 {
        font-size: 14px;
    }
    .cmn-btn {
        font-size: 14px;
    }
    .pt-40 {
        padding-top: 30px;
    }


    /* mint responsive */
    .mint-wrapper {
        padding-top: 25px;
        padding-bottom: 90px;
    }
    .mint-info [class*="pb-"]{
        padding-bottom: 12px;
    }
    /* footer responsive */
    .footer-top .row > [class*="col-"] {
        margin-bottom: 25px;
    }
    .footer-top .row > [class*="col-"] .pb-15 {
        padding-bottom: 10px;
    }
    .footer-wrapper .f-subscribe, .footer-wrapper .f-social-link {
        padding-top: 15px;
    }
    .footer-wrapper {
        padding-top: 50px;
    }
    .footer-wrapper .f-title > h3 {
        font-size: 17px;
        line-height: 1.5;
    }
    .footer-wrapper .f-paragraph p {
        font-size: 14px;
        line-height:1.5
    }
    .footer-wrapper .resources .res-link li {
        padding-bottom: 3px;
    }
    .footer-wrapper .copyright .copy-link a {
        font-size: 13px;
    }
    .footer-wrapper .newsletter-form input {
        height: 40px;
        font-size: 14px;
    }
    .footer-wrapper .newsletter-form .cmn-btn {
        height: 32px;
        bottom: 4px;
    }
    .footer-wrapper .footer-border {
        padding-top: 20px;
        padding-bottom: 15px;
    }
    
}


/* Mobile Layout: 320px. */

@media (max-width: 767px){}


/* Wide Mobile Layout: 480px. */

@media (min-width: 576px) and (max-width: 767px) {}

@media (min-width: 320px) and (max-width: 575px) {
    .f-row-reverse {
        flex-direction: column-reverse;
    }
}