@media (min-width: 1199px) {
    .d-grid-5{
        gap: 25px;
    }
    .cont-top-space{
        margin-top: 50px;
    }
    
    .sec-padding-top {
        padding-top: 120px;
    }
    .header-area #navbarSupportedContent {
        margin-left: 50px;
    }   
    .header-area .cmn-btn span {
        margin-right: 15px;
    }
    .header-area .navbar-brand{
        padding: 0px;
    }

    /* homepage */
    .hero-area  .powered-icon {
        padding: 0px 20px;
    }
    .hero-area .hero-title h1 {
        font-size: 70px;
        line-height: 100%;
    }
    .hero-area .hero-d-p {
        padding-top: 25px;
        padding-bottom: 35px;
    }
    .hero-area .popup-videos img {
        max-width: 165px;
    }
    /* terraspace-wrapper */
    .terraspace-wrapper{
        margin-top: 80px;
    }
    .terraspace-wrapper .t-single-description h2{
        padding-top: 15px;
        padding-bottom: 35px;
    }
    .terraspace-wrapper .t-single-description{
        padding: 28px;
    }

    /* dashboard */
   
    .tranding-wrapper .range-btn{
        margin-top: 35px;
    }
    /* partner wrapper */

    
    .partner-wrapper {
        padding-bottom: 140px;
    }
    .partnet-s-title p{
        padding-top: 25px;
        padding-bottom: 60px;
    }

    /* .fixed-nav .logo img{
        max-width: 60px;
        height: 60px;
    } */
  
}

@media (min-width: 992px) and (max-width: 1367px) {

 
    
}


/* Medium Layout: 1280px. */

@media (min-width: 992px) and (max-width: 1200px) {}


/* Tablet Layout: 768px. */

@media (min-width: 768px) and (max-width: 991px) {
    .header-area #navbarSupportedContent {
        margin-left: 15px;
    }
   
}

@media (min-width: 320px) and (max-width: 991px) {
    /* font-size */
    br{
        display: none;
    }

    
    /* font-size */
    .section-heading{
        font-size: 35px;
    }
    .t-30 {
        font-size: 25px;
    }
    .t-20 {
        font-size: 17px;
    }
    .t-16 {
        font-size: 14px;
    }
    .cmn-btn {
        font-size: 14px;
        padding: 8px 13px;
        
    }
    .pt-40 {
        padding-top: 30px;
    }
    .flex-d {
        gap: 8px;
    }
    .before-srarting-img> ul >li {
        padding-left: 30px;
        margin: 13px 0px;
        font-size: 14px;
    }
    .logo img {
        max-width: 60px;
        height: 60px;
    }

    /* homepage responsive */
    .home-page {
        padding-top: 100px;
    }
    .powered-icon> img{
        max-width: 80px;
    }
    .powered-icon .popup-videos img{
        max-width: 140px;
    }
    .t-middle-wrapper img{
        margin-bottom: 30px;
    }

    /* .table */
    .tranding-wrapper .table thead th,
     .tranding-wrapper .table thead h5 {
        font-size: 14px !important;

    }
    .tranding-wrapper .table tbody th, .tranding-wrapper .table-f span, .tranding-wrapper .table-f p {
        font-size: 13px !important;
    }
    .tranding-wrapper .table tr td, 
    .tranding-wrapper .table tr th {
        text-align: center;
        white-space: nowrap;
    }
    .table-f.flex-d {
        width: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .track-select .btn:focus, 
    .track-select .btn {
        font-size: 15px;
    }

    /* mint responsive */
    .mint-wrapper {
        padding-top: 25px;
        padding-bottom: 90px;
    }
    .mint-info [class*="pb-"]{
        padding-bottom: 12px;
    }


    /* header-responsive */
    .hedaer-abs {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
        box-shadow: 0 13px 22px -5px rgb(0 0 0 / 6%);
        padding: .3rem 0rem !important;
        background: #10192D;
        transition: all .3s;
    }
    .header-area  .navbar {
        padding: 0px;
    }
    .header-area .navbar-nav li {
        margin-right: 15px;
        margin-bottom: 15px;
    }
    .header-area .navbar-toggler {
        width: 2.5rem;
        height: 2.5rem;
        background: transparent;
        color: #fff;
        border-radius: 100%;
        box-shadow: 0 1px 5px #39f;
        margin: 10px 0px;
        padding: 0px;
    }
    .header-area .navbar-toggler[aria-expanded="true"] .fa-bars {
        display: none;
    }
    .header-area .navbar-toggler[aria-expanded="false"] .fa-bars {
        display: block;
    }
    .header-area .navbar-toggler[aria-expanded="true"] .fa-times {
        display: block;
    }
    .header-area .navbar-toggler[aria-expanded="false"] .fa-times {
        display: none;
    }


    /* footer responsive */
    .footer-top .row > [class*="col-"] {
        margin-bottom: 25px;
    }
    .footer-top .row > [class*="col-"] .pb-15 {
        padding-bottom: 10px;
    }
    .footer-wrapper .f-subscribe, .footer-wrapper .f-social-link {
        padding-top: 15px;
    }
    .footer-wrapper {
        padding-top: 50px;
    }
    .footer-wrapper .f-title > h3 {
        font-size: 17px;
        line-height: 1.5;
    }
    .footer-wrapper .f-paragraph p {
        font-size: 14px;
        line-height:1.5
    }
    .footer-wrapper .resources .res-link li {
        padding-bottom: 3px;
    }
    .footer-wrapper .copyright .copy-link a {
        font-size: 13px;
    }
    .footer-wrapper .newsletter-form input {
        height: 40px;
        font-size: 14px;
    }
    .footer-wrapper .newsletter-form .cmn-btn {
        height: 32px;
        bottom: 4px;
    }
    .footer-wrapper .footer-border {
        padding-top: 20px;
        padding-bottom: 15px;
    }
    
}


/* Mobile Layout: 320px. */

@media (max-width: 767px){}


/* Wide Mobile Layout: 480px. */

@media (min-width: 576px) and (max-width: 767px) {
    .d-grid-2 {
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }
}

@media (min-width: 320px) and (max-width: 575px) {
    .f-row-reverse {
        flex-direction: column-reverse;
    }
    .section-heading {
        font-size: 30px;
    }
    .dash-info .d-grid-2 {
        gap: 0px;
    }
    
}