/* border: 60px solid #FF6DFF;
filter: blur(300px); */

/* mint css*/
.mint-area{
    z-index: 999;
    overflow: hidden;
}
.mint-wrapper{
    padding-top: 35px;
    padding-bottom: 130px;
}
.mint-wrapper .mint-c p > a{
    color: var(--primary-2);
    display: inline-block;
    border-bottom: 1.5px solid var(--primary-2);
    font-weight: 600;
}

.vector-abs{
    display: inline-block;
}
.vector-abs img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    width: 100%;
    height: 100%;
}